[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = An Out-of-the-Box Computer Vision Library
[access "refs/*"]
	owner = group user/Xiaozhe Yao (xzyaoi)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Xiaozhe Yao (xzyaoi)
	label-Verified = -1..+1 group user/Xiaozhe Yao (xzyaoi)
	push = group user/Xiaozhe Yao (xzyaoi)
	read = group user/Xiaozhe Yao (xzyaoi)
	rebase = group user/Xiaozhe Yao (xzyaoi)
	removeReviewer = group user/Xiaozhe Yao (xzyaoi)
	submit = group user/Xiaozhe Yao (xzyaoi)
[access "refs/heads/*"]
	create = group user/Xiaozhe Yao (xzyaoi)
	push = +force group user/Xiaozhe Yao (xzyaoi)
	pushMerge = group user/Xiaozhe Yao (xzyaoi)
	read = group user/Xiaozhe Yao (xzyaoi)
[access "refs/tags/*"]
	push = group user/Xiaozhe Yao (xzyaoi)
	push = +force group user/Xiaozhe Yao (xzyaoi)
